body {
    width: 200px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}
.column {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.column > span {
}

#changeColor {
    width: 100px;
    height: 37px;
}

.btn {
    align-content: center;
}